/* Put your styles here */

footer {
  margin-top: 17px;
  padding-top: 17px;
  border-top: 1px solid #EEE;
}

body {
  padding-top:40px;
}

#top {
  margin-top:10px;
}

h2.post-title a{
  color: #404040;
  text-decoration:none;
}

h2.post-title {
  border-bottom:1px solid #ccc;
}

div.post-time {
  color: #AAAAAA;
  font-size:90%;
  padding:2px 0;
}

div.post-content {
  margin-top:10px;
  margin-bottom:10px;
}


table.footnote td {
    border:none;
    padding:0;
}
table.footnote td.label {
    width:25px;
    background-color:#fff;
    border:none;
    border-radius:0;
    -webkit-border-radius: 0;
    -moz-border-radius:0;
}
