{% extends "layout.html" %}

{% block title %}{{context.sitename}} - {{post.title}}{% endblock %}

{% block author %}
<meta name="author" content="{{ post.author }}" />
{% endblock %}

{% block afterstyle %}
{% endblock %}


{% block content %}
<div class="post">
  <h2 class="post-title">
    <a href="{{content_url(post.slug)}}" rel="self">{{post.title}}</a>
  </h2>
  <div class="post-time">
    <time datetime="{{post.date}}">{{post.date.strftime("%b %d, %Y")}}</time>
  </div>
  <div class="post-content">
    {{ post.content }}
  </div>
  <div class="post-tags">
    Tags:
    {% for tag in post.get('tags', []) %}
    <a href="{{content_url('tag', tag)}}" class="tag" rel="tag">{{tag}}</a>
    {% endfor %}
  </div>
</div>

{% include "include/disqus.html" %}
{% endblock %}
