{% extends "layout.html" %}

{% block title %}{{context.sitename}} - {{post.title}}{% endblock %}

{% block author %}
<meta name="author" content="{{ post.author }}" />
{% endblock %}

{% block afterstyle %}
{% endblock %}


{% block content %}

<h1 class="article-title">
    <a href="{{content_url(post.slug)}}" rel="self">{{post.title}}</a>
</h1>

<div class="article">
    <div class="article-content">
        {{ post.content }}
    </div>
</div>

<div class="article-meta">
    <div class="article-time">
    Posted: <time datetime="{{post.date}}">{{post.date.strftime("%a, %b %d, %Y")}}</time>
    </div>
    <div class="article-tags">
    Tagged:
    {% for tag in post.get('tags', []) %}
    <a href="{{content_url('tag', tag)}}" class="tag" rel="tag">{{tag}}</a>
    {% endfor %}
    </div>
</div>

{% endblock %}
